name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager --no-exit-on-warn

  # lint:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Set up Ruby
  #       uses: ruby/setup-ruby@v1
  #       with:
  #         ruby-version: .ruby-version
  #         bundler-cache: true

  #     - name: Lint code for consistent style
  #       run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
      TZ: Asia/Tokyo
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY_TEST }}

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: tubescope
          MYSQL_DATABASE: tubescope_test
          MYSQL_USER: tubescope_user
          MYSQL_PASSWORD: tubescope
        ports:
          - 3307:3306
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -ptubescope --silent"
          --health-interval=10s --health-timeout=5s --health-retries=10

      # redis:
      #   image: redis
      #   ports:
      #     - 6379:6379
      #   options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Install system packages
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y \
            default-libmysqlclient-dev

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Set up Yarn
        run: |
          corepack enable
          yarn install --frozen-lockfile

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Prepare & precompile
        run: |
          bin/rails db:prepare
          bin/rails assets:precompile

      - name: Run tests
        run: bin/rails test test:system

      - name: Debug node_modules
        if: failure()
        run: |
          ls -la node_modules | wc -l
          ls -la node_modules/@hotwired || true

      # - name: run tests
      #   run: |
      #     bundle exec rspec
